In [1]:
!pip install mysql

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql
  Downloading mysql-0.0.3-py3-none-any.whl (1.2 kB)
Collecting mysqlclient (from mysql)
  Downloading mysqlclient-2.2.0-cp311-cp311-win_amd64.whl.metadata (4.5 kB)
Downloading mysqlclient-2.2.0-cp311-cp311-win_amd64.whl (199 kB)
   ---------------------------------------- 0.0/200.0 kB ? eta -:--:--
   -- ------------------------------------- 10.2/200.0 kB ? eta -:--:--
   ------ --------------------------------- 30.7/200.0 kB 1.3 MB/s eta 0:00:01
   ------- ------------------------------- 41.0/200.0 kB 393.8 kB/s eta 0:00:01
   ----------- --------------------------- 61.4/200.0 kB 363.1 kB/s eta 0:00:01
   ----------------- --------------------- 92.2/200.0 kB 435.7 kB/s eta 0:00:01
   --------------------------- ---------- 143.4/200.0 kB 568.9 kB/s eta 0:00:01
   --------------------------- ---------- 143.4/200.0 kB 568.9 kB/s eta 0:00:01
   --------------------------- ---------- 143.4/200.0 kB 568.9 kB/s eta 0:00:01
   --------------------------------- ---- 174.1/200.0 kB 436.9 kB/s eta 0:00:01
   -------------------------------------- 200.0/200.0 kB 449.6 kB/s eta 0:00:00
Installing collected packages: mysqlclient, mysql
Successfully installed mysql-0.0.3 mysqlclient-2.2.0

In [2]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\program files\python38\lib\site-packages (8.0.33)
Collecting protobuf<=3.20.3,>=3.11.0 (from mysql-connector-python)
  Using cached protobuf-3.20.3-cp38-cp38-win_amd64.whl (904 kB)
Installing collected packages: protobuf
  Attempting uninstall: protobuf
    Found existing installation: protobuf 4.23.2
    Uninstalling protobuf-4.23.2:
      Successfully uninstalled protobuf-4.23.2
Successfully installed protobuf-3.20.3
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.3.1
[notice] To update, run: c:\program files\python38\python.exe -m pip install --upgrade pip

In [3]:
import mysql.connector

In [4]:
from mysql.connector import Error

In [5]:
import pandas as pd

In [8]:
def create_connection(host_name,user_name,password):
  connection = None
  try:
    connection = mysql.connector.connect(host=host_name, user=user_name,passwd=password)
    print("Mysql connection has been established")
  except Error as err:
    print(f"Error: '{err}'")
  
  return connection

password = 'Your database connection password'

main_connection = create_connection("localhost","root",password)

Mysql connection has been established

In [10]:
def createDatabase_query(main_connection, query):
    cursor = main_connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as err:
        print(f"Error: '{err}'")

        
database_name='python_conn'
database_query =f'create database {database_name}'

createDatabase_query(main_connection, database_query)

Database created successfully

In [11]:
def database_connection(host_name,user_name,password,db_name):
  connection = None
  try:
    connection = mysql.connector.connect(host=host_name, user=user_name,passwd=password,database=db_name)
    print("Mysql database has been established")
  except Error as err:
    print(f"Error: '{err}'")
  
  return connection

connection = database_connection("localhost","root",password,database_name)

Mysql database has been established

In [12]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed.")
    except Error as err:
        print(f"Error: '{err}'")

In [20]:
insert_query="""
create table Data(
pid int auto_increment primary key,
pname varchar(255) not null,
address varchar(255) default null,
email varchar(255) unique key,
age int,
height decimal(10,2),
enroll_date timestamp not null,
course_starting_date date not null);"""

execute_query(connection, insert_query)

Query executed.

In [22]:
insert_data_query ="""
insert into Data values
(1,'Mike','340A','mike12@gmail.com',26,5.83,'2023-10-25','2023-10-25'),
(2,'Shinoda','341A','shinoda12@gmail.com',28,5.93,'2023-10-25','2023-10-24'),
(3,'Xiomi','340A','xiomi@gmail.com',27,5.93,'2023-10-23 11:32:08','2023-10-24');
"""
execute_query(connection, insert_data_query)

Mysql database has been established
Query executed.

In [24]:
def read_data_query_execute(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")
        
read_data_query='select * from Data'
results = read_data_query_execute(connection, read_data_query)

In [29]:
for i in list(results):
    print(i)

(1, 'Mike', '340A', 'mike12@gmail.com', 26, Decimal('5.83'), datetime.datetime(2023, 10, 25, 0, 0), datetime.date(2023, 10, 25))
(2, 'Shinoda', '341A', 'shinoda12@gmail.com', 28, Decimal('5.93'), datetime.datetime(2023, 10, 25, 0, 0), datetime.date(2023, 10, 24))
(3, 'Xiomi', '340A', 'xiomi@gmail.com', 27, Decimal('5.93'), datetime.datetime(2023, 10, 23, 11, 32, 8), datetime.date(2023, 10, 24))

In [32]:
read_pattern_data_query="select * from Data where pname like '%i' "

pattern_results = read_data_query_execute(connection, read_pattern_data_query)
for i in list(pattern_results):
    print(i)

(3, 'Xiomi', '340A', 'xiomi@gmail.com', 27, Decimal('5.93'), datetime.datetime(2023, 10, 23, 11, 32, 8), datetime.date(2023, 10, 24))